.ShopStore_Text_main {
  width: 550px;
  text-align: left;
  display: flex;
  align-items: center;
}
.ShopStore_Text_inner {
  padding-top: 30px;
}
.ShopStore_Text_inner > h2 {
  font-size: 80px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 55px;
  text-transform: uppercase;
}

.ShopStore_Text_inner > span {
  font-size: 28px;
  font-weight: 500;
  color: #000;
  font-family: "Dancing Script", cursive;
  letter-spacing: 10px;
}
.ShopStore_Text_inner > p {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin: 30px 0px;
}
.ShopStore_Text_inner > button {
  width: 180px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  transition: 0.8s;
}
.ShopStore_Text_inner > button:hover {
  background-color: gray;
  color: black;
  border: 2px solid black;
}
